body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(1, 1, 44);;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.h2_head {
    display: flex;
    justify-content: center;
}

.lista_nav {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
}

section {
    background-color: rgb(15, 14, 14);
    padding-left: 200px;
    padding-bottom: 430px;
    padding-right: 200px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.h2_seccion_principal {
    color: orange;
}

.container_1_seccion_principal {
    background-color: rgb(21, 21, 49);
    color: white;
    border-radius: 10px;
    width: 1000px;
}

.container_2_seccion_principal {
    display: flex;
    justify-content:center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

footer {
    background-color: rgb(1, 1, 44);
    color: white;
    display: flex;
    justify-content: center;
}

/*Cartel*/


/*Horario*/
table {
  border-collapse: collapse;
  border: 2px solid #000;
}

td,
th {
  border: 1px solid #000;
  padding: 10px;
}

th {
  background: #000;
  color: #fff;
  text-transform: uppercase;
}

td {
  text-align: center;
  border-bottom: 2px solid #111;
  color: #333;
  font-size: 18px;
}