body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(1, 1, 44);;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.h2_head {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
}

section {
    background-color: rgb(15, 14, 14);
    width: 100%;
    padding-left: 200px;
    padding-bottom: 200px;
    padding-right: 200px;
    padding-top: 10px;
}

.container_1_seccion_principal {
    background-color: rgb(21, 21, 49);
    color: white;
    display: flex;
    justify-content:center;
    border-radius: 20px;
}

footer {
    background-color: rgb(1, 1, 44);
    color: white;
    display: flex;
    justify-content: center;
}