body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(31, 31, 46);
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
}

.h2_head {
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.lista_nav {
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: white;
}

.button_nav {
    background-color: rgba(83, 83, 97, 0.699);
    border-radius: 10px;
    color: white;
}

section {
    background-color: rgb(15, 14, 14);
    padding-left: 200px;
    padding-bottom: 430px;
    padding-right: 200px;
    padding-top: 25px;
    display: flex;
    justify-content: center;
}

.h2_seccion_principal {
    color: orange;
}

.container_1_seccion_principal {
    background-color: rgb(21, 21, 49);
    color: white;
    border-radius: 10px;
    width: 1000px;
}

.container_2_seccion_principal {
    display: flex;
    justify-content:center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

footer {
    background-color: rgb(1, 1, 44);
    color: white;
    display: flex;
    justify-content: center;
}

/*Cartel*/
.titulo_secciones {
    color: orange;
}

.color_cartel {
    color: white;
}

.container_1_seccion_1_cartel {
    background-color: rgb(21, 21, 49);
    color: white;
    border-radius: 10px;
    width: 1000px;
}

.escenario img {
    width: 500px;
}

/*Horario*/

.container_1_seccion_1_horario {
    background-color: rgb(21, 21, 49);
    color: white;
    border-radius: 10px;
    width: 1000px;
}

.container_2_seccion_1_horario {
    display: flex;
    justify-content:center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
}

.color_horario {
    color: white;
    
}

table {
  border-collapse: collapse;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

td,
th {
  border: 1px solid #000;
  padding: 10px;
}

th {
  background: rgb(1, 1, 44);;
  color: #fff;
  text-transform: uppercase;
}

td {
  text-align: center;
  border-bottom: 2px solid rgb(1, 1, 44);;
  color: #ffffff;
  font-size: 18px;
}